/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.header-footer-color {
  background-color: #ffffff;
}

.background-color {
  background-color: #ffffff
}

.background-color2 {
  background-color: #f85646
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #000000;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
  }

.parallax-container2 {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container2 .section {
    width: 100%;
  }

.img-profile {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

#support_box {
  background-color: #000000;
  color: #ffffff;
}

.temp_board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 1000px){
  .temp_board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
}

/* text code */

.a {
  font-size: 125%;
  color: #000000;
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 80px;
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 50px;
  }
}


p {
  font-size: 125%;
}

.header-font {
  font-family: "candal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body-font {
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.button_format {
  background-color: #46f856;
  color: black;
}

.subtitle-font {
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.title-text {
  color: #46e8f8 !important;
}

.img-width {
  width: 100%;
}

.blue-box {
  background-color: #46e8f8;
}

.pink-box {
  background-color: #f846e8;
}

.green-box {
  background-color: #46f856;
}

.profile-row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 800px) {
.profile-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
}
.profile-col1 {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
}

.profile-name {
  font-size: 35px;
}

@media screen and (max-width: 800px) {
  #abby-desktop {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  #abby-mobile {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .img-width {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .img-width {
    max-width: 5%;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

footer.page-footer {
  margin: 0;
}
